{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "target": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ]
  ],
  "plugins": ["transform-vue-jsx"]
}
