html.dark {
  --el-color-primary: #3366FF;

    --el-color-primary-light-3: #285eff;
  // --el-bg-color: #020306;
  --el-text-color-primary: #E5EAF3;
  background-color: #020306;

  .text-color{
    color: var(--el-text-color-primary);
  }
  .secondary-color{
      color: #999999;
  }
  .border-top{
    border-top: 1px solid var(--el-border-color);
  }
  .border-bottom{
    border-bottom: 1px solid var(--el-border-color);
  }
  .bg-color{
    background-color: #1d1e1f;
  }
  .box-shadow{
    box-shadow: 0px 0px 8px #1f1f1f;
  }

  .subscribe-list-item{
    border: 2px solid #D9C7A5;
    &:hover{
    background: linear-gradient(180deg, #977A5A 0%, #CFB893 100%);
        border: 2px solid #c2a172;
    }
    &.subscribe-list-item-active {
    background: linear-gradient(180deg, #977A5A 0%, #CFB893 100%);
        border: 2px solid #c2a172;
    }
  }


  // 邀请页面
  .invite-banner-bg {
        border-radius: 12px;
      background-color: #72624C;
  }
}